* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  reset rules */

body {
    font-family: 'PT Sans', sans-serif;
}

/* Common elements */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding-bottom: 60px;
}

.card {
    width: 310px;
    height: 360px;
    /* test rules */

    padding: 30px 30px 35px;

    border-radius: 15px;
}

section {
    padding-top: 60px;
    /* test rules */
}

/* end common elements */


/* nav */

nav {
    padding: 15px 30px 20px;

    width: 100%;
    height: 75px;

    background-color: #0084FD;
    color: white;
}

@media screen and (max-width:480px) {
    nav {}

    .nav-container {
        display: flex;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
    }
}

/* SECTIONS */


/* Section 1 */

#intro .card {
    background-color: #B5DDFF;
    text-align: center;
}

#intro .card:nth-of-type(1) {
    padding-bottom: 0;

    height: 605px;
    /* test rules */
}

#intro .demo-text,
#intro .card h2 {
    padding: 30px 0 35px;
}

#intro .card p {
    line-height: 21px;
}

#intro .get-app {
    padding-bottom: 35px;
}


/* Section 2 */

#planning {

    background-color: #9792E4;
}

#planning .card {

    border-radius: 35px;

}

#planning .card:nth-of-type(2) {
    background-color: white;
}

/* Section 3 */

#testimonials .card {
    height: 500px;
    /* test rules */

    background-color: #9792E4;
    border-radius: 35px;
}

#testimonials .card:nth-of-type(1) {

    height: 340px;
    /* test rules */
    background-color: white;
}

/* Section 4 */

#why-us {
    background-color: #9792E4;
}

#why-us .card {
    background-color: white;
}

/* section 5 */

#about-us {
    height: 1600px;
    /* test rules */
}

/* Section 6 */

#get-started {
    height: 615px;
    /* test rules */

    background-color: #9792E4;
}

/* footer */

footer {
    background-color: #333333;

    height: 230px;
    /* test rules */
}