* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  reset rules */

body {
    font-family: 'PT Sans', sans-serif;
}

/* Common elements */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    padding-bottom: 30px;
}

.card {

    padding: 30px 30px 35px;

    border-radius: 15px;
}

section {
    padding: 50px 30px 50px;
}

.bg-sc-even {
    background-color: #9792E4;
}

.btn {
    border: none;
    padding: 12px 15px;
    border-radius: 25px;
}

/* end common elements */


/* nav */

nav {
    padding: 15px 30px 20px;

    width: 100%;
    height: 75px;

    background-color: #0084FD;
    color: white;
}

.nav-links {
    display: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-links {
    list-style-type: none;
}

nav .fa-bars {
    font-size: 30px;
    color: white;
}

/* SECTIONS */


/* Section 1 */

#intro .card {
    background-color: #B5DDFF;
    text-align: center;

}

#intro .card:nth-of-type(1) {
    text-align: start;
    padding-bottom: 0;

}

#intro .demo-text,
#intro .card h2 {
    padding: 30px 0 35px;
}

#intro .get-app {
    padding-bottom: 35px;
}

#intro .card h3 {
    color: #0084FD;
    font-weight: bold;
    font-size: 1.4em;
}


#intro .card-sm h3 {
    padding-top: 30px;
    padding-bottom: 40px;
}

#intro p {
    line-height: 1.8;
    color: #667C8F;
}

.get-button {
    padding: 10px 45px;
    background-color: #0084FD;
    color: white;
    letter-spacing: .2rem;
}

.get-button i {
    margin-right: 10px;
}

.phone-img {
    padding-left: 25px;
    padding-right: 25px;
}

.phone-img img {
    width: 100%;
    display: block;
}

.fa-solid {
    font-size: 70px;
    color: #0084FD;
}


/* Section 2 */


#planning .card {
    line-height: 1.8;
    padding-left: 0;
    padding-right: 0;
}

#planning .card:nth-of-type(1) {
    color: white;
}

#planning .card h2 {
    padding: 70px 0 55px;
}


#planning .card:nth-of-type(2) {
    border-radius: 35px;
    background-color: white;
    padding-right: 15px;
    padding-left: 15px;
}

#planning .card:nth-of-type(2) h4 {
    font-size: 1.3em;
    padding-bottom: 20px;
}

#planning .card:nth-of-type(2) p {
    font-style: italic;
    font-size: 1.1em;
    padding-bottom: 30px;
}

.planning-img img {
    width: 100%;
}

.round-btn .fa-solid {
    font-size: 15px;
    margin-top: 50%;
    transform: translateY(-50%);
    color: black;
}


/* Section 3 */
#testimonials {
    text-align: center;
}

#testimonials .testimonials-card {

    border-radius: 35px;
    background-color: #9792E4;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#testimonials .testimonials-card:nth-of-type(1) {

    background-color: white;
}

#testimonials .testimonials-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

#testimonials img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#testimonials .testimonials-description p {
    padding-bottom: 30px;
}

/* Section 4 */

#why-us .section-4-title {
    text-align: center;
    color: white;
    font-size: 32px;
    padding-bottom: 60px;
}

#why-us h4 {
    padding-top: 30px;
    font-size: 20px;
    color: #9792E4;
}

#why-us .card {
    background-color: white;
}


#why-us .number-benefits {
    font-size: 50px;
    color: #9792E4;
    font-weight: bold;
}

#why-us p {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.8;
}

#why-us button {
    padding: 15px 50px;
    letter-spacing: .2rem;
    color: white;
    background-color: #9792E4;
}

/* section 5 */

#about-us .col-left h2 {
    font-size: 40px;
    color: #9792E4;
    padding: 20px 0 30px;
}

#about-us .col-left .about-text {
    line-height: 35px;
}

#about-us .col-left .about-text:nth-of-type(1) {
    padding-bottom: 60px;
}

#about-us .about-img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

#about-us img {
    width: 100%;
    border-radius: 50%;
}

#about-us .col-right p {
    font-size: 22px;
    color: #9792E4;
    font-weight: bold;
}

#about-us .btn .fa-linkedin {
    margin-right: 10px;
}


#about-us .btn {
    background-color: #9792E4;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
}

.rel-img {
    position: relative;
}

.fa-quote-left {
    position: absolute;
    top: -10px;
    left: 150px;
    color: #9792E4;
}

/* Section 6 */

#get-started {
    text-align: center;
}

#get-started {
    padding: 60px 45px;
    color: white;
}


#get-started strong {
    display: block;
    padding: 40px 0;
    color: #FDC15F;
    font-size: 60px;
}

#get-started h2 {
    font-size: 1em;
    font-weight: 300;
    color: #BAB7ED;
    padding-bottom: 25px;
}

#get-started .btn {
    padding: 20px 70px;
    letter-spacing: .2rem;
    color: #9792E4;
    margin: 40px 20px;
    border-radius: 50px;
}

#get-started p {
    font-size: 30px;
    font-weight: bold;
}

/* footer */

footer {
    background-color: #333333;

    text-align: center;
    height: 230px;
    /* test rules */

    padding: 45px 30px 40px;
    color: white;
}

footer .text-1 {
    padding-bottom: 60px;
}

footer a {
    color: #9792E4;
    text-decoration: underline;
}

@media screen and (min-width:768px) {

    /* section 1 */

    #intro .container {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }


    #intro .container .card {
        width: calc(100% / 3 - 25px);
        height: auto;
    }

    #intro .container .card:nth-of-type(1) {
        width: calc(100% / 3 * 2 - 25px);
    }

    #intro .phone-img {
        width: 58%;
        padding-left: 0;
    }

    /* section 2 */

    #planning .card:nth-of-type(1) h2 {
        font-size: 55px;
    }

    #planning .card:nth-of-type(2) {
        padding-left: 25px;
        padding-right: 25px;
    }

    #planning .card:nth-of-type(2) h4 {
        font-size: 23px;
    }


    /* section 3 */

    #testimonials .testimonials-card {
        width: 100%;
        flex-direction: row;
    }

    #testimonials .testimonials-img {
        min-width: 200px;
        min-height: 200px;
    }

    /* section 4 */

    #why-us .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #why-us .container .card {
        width: calc(50% - 25px);
    }


    /* section 5 */

    #about-us {
        height: 100%;
    }

    #about-us .container {
        display: flex;
        flex-direction: row;


        /* test */
    }

    #about-us .container .col-left {
        width: 60%;

    }

    #about-us .container .col-right {
        /* test */
        width: 40%;
        align-self: flex-start;
    }


    #get-started strong {
        font-size: 80px;
    }

    #get-started h2 {
        font-size: 1em;
        color: #BAB7ED;
        padding-bottom: 30px;
    }
}

@media screen and (min-width:992px) {

    /* section 2 */
    #planning .container {
        flex-direction: row;
        justify-content: center;
    }

    #planning .card:nth-of-type(1) {
        width: 50%;
    }

    #planning .card:nth-of-type(2) {
        width: 40%;
        align-self: flex-end;
    }

    #planning .card:nth-of-type(1) h2 {
        font-size: 1.8em;
    }

    /* section 4  */
    #why-us .container .card {
        width: calc(100% / 3 - 25px);
    }

    #about-us .container .col-left {
        width: 70%;
    }

    #about-us .container .col-right {
        width: 30%;
    }
}


@media screen and (min-width:1200px) {

    .container {
        max-width: 1200px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-container {
        max-width: 1200px;
        margin: auto;
    }

    .nav-links {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;
        list-style-type: none;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .bars {
        display: none;
    }

    #why-us .card {
        height: 425px;
        /* test */
    }

    .card-lg {
        display: flex;
    }

    .get-app {
        width: 60%;
    }

    .phone-img img {
        width: 80%;

    }

    .phone-img {
        align-self: end;
    }
}




.app-dev-img img {
    width: 100%;
}

.planning-card:nth-of-type(2) {
    text-align: center;
}

.round-btn {
    background-color: #9792E4;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card-app {
    text-align: center;
}